@model CrudVendasMvc.Models.VendasRegistro

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar um registro de venda:</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
